/*why isn't mobile centered? Where is this odd margin coming from?*/

/*For mobiles */
@media(min-width: 200px) and (max-width: 599px) {
 .grid {
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 20%) 50%;
  } 

	
#topnav a {
  background-color: gray;
  color: DeepSkyBlue;
  font-family: "Raleway", sans-serif;
  width: 100%;
  display: block;
  text-decoration: none;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 30px;
  padding-left: 0px;
  padding-right: 0px;
	text-align: center;
}
#topnav a:hover {
	background-color: silver;
	font-weight: bold;
	text-decoration: none;
	
	}

.hero {
  grid-row: 5 / span 1;
	 
}

	
}	


/*end of mobile*/



/*For tablets */
@media(min-width: 601px) and (max-width: 768px) {
  .grid {
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 20%) 50%;
    grid-row-gap: 20px;
  }

/*this is my fancy side nav which is going to be SO DOPE. I want this for tablets only, but because of previously mentioned 
background colour issues I've started playing with it in here. You can see it in the index.HTML file too. I've also ended up putting
the little bit of JS I use for it in there too. I did upload a seperate JS file with it in, but I don't think I linked them properly,
I'd like to learn how for the final site.

The code works for this side bar, which IS AWESOME. The bit that doesn't work, and why it's not currently showing up on the site, 
is that I've added in a "don't show this bit of stuff when the screen is bigger than 768px" to try and make it only work for tablets.
But instead it hides IT ALL NO MATTER THE WIDTH.*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1; /*stack order*/
    top: 0;
    left: 0;
    background-color: SlateGrey;
    overflow-x: hidden;/*overflow on the left and right sides and overflow-y is for the tops and bottoms*/
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: LightSkyBlue;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: RoyalBlue;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#main {
    transition: margin-left .5s;
    padding: 20px;
}
	
	
}

/*end of tablet*/


/* To hide topnav if between tablet sizes*/ 
@media(min-width: 600px) and (max-width: 768px) {
.topnav {
    visibility: hidden;
  }
}


/* To hide sidenav*/ 
@media {
div.sidenav {
   display: none;
   visibility: hidden
  }
div.menubtn {
	display: none;
   visibility: hidden
  }
	
}
/* To show sidenav*/ 
@media(min-width: 600px) and (max-width: 768px) {
div.sidenav {
    display: block;
    visibility: visible;
  }
div.menubtn {
  visibility: visibile;
  display: block;
}
	
}




body {
	height: 100%;
	margin: 0px;
	padding:0px;
	width: 100%;
	
	
}

h1 {
	font-size: 18px;
  font-family: 'Raleway', serif;
  color: #2f5da8;
	text-align: center;
 
}

h2 {
	font-size: 14px;
	color: SlateGrey;
	text-align: center;
	
}

#footer {
  font-size: 0.75rem;
  font-family: "Raleway", sans-serif;
  text-align: center;
}


.hero {
  padding-top: 75px;
  padding-bottom: 75px;
  font-family: "Raleway", sans-serif;
  color: #ffffff;

  
}
img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img:hover {
  opacity: 0.5;
}

p {
  font-size: 2rem;

}





#topnav a {
  display: block;
  color: DeepSkyBlue;
  text-align: center;
  float: left;
  padding: 14px 16px;
  font-family: "Raleway", sans-serif;
  margin-top: 5px;
}

a:link {
    text-decoration: none;
	color: DeepSkyBlue;
}

a:visited {
    text-decoration: none;
	color: DeepSkyBlue;
}

a:hover {
    text-decoration: underline;
    color: DeepSkyBlue;
    text-decoration-style: dashed;
}

a:active {
    text-decoration: none;
	text-decoration-line: overline underline;
	color: DeepSkyBlue;
}


/*Loader */
#pageloader{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* center children content horizontally */
    align-items: center; /* center children content vertically */
    z-index: 10000;
    background: white;
}

.spinner {
    width: 70px;
    text-align: center;
    opacity: 1;
    transition: opacity .4s;
}
 
.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
 
.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
 
.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
 
@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
    } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
}
}

#pageloader.dimissloader{
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 0s 1s;
}
