body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
	background-color: lightblue;
	/* this is one of the big issues. In order to know when I was working with tablet and mobile sizes, I put in a background-color which
	would change when the browser page got small (if that makes sense?) this is so I can work on code for the @media parts that I would 
	know if they were working because they'd only be visible when that particular background-color was being shown. I chose Olive for 
	mobile and Tan for tablet. If you make the browser bigger/smaller it doesn't work and I DON'T KNOW WHY. I've spent a lot of time 
	fiddling with the max/min-width, but it doesn't seem to make a difference :( */
}

h1 {
	font-size: 32px;
  font-family: 'Raleway', serif;
  color: #2f5da8;
 
}

h2 {
	font-size: 56px;
}

#footer {
  font-size: 0.75rem;
  font-family: "Raleway", sans-serif
}


.hero {
	padding: 250px 0;
	margin: 30px;
  font-family: "Raleway", sans-serif;
  color: #ffffff;

  
}
img {
  border-radius: 50%;
}

img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* to make it work for IE8 and other earlier oness  */
}

p {
  font-size: 2rem;

}





.topnav a {
  display: block;
  color: DeepSkyBlue;
  text-align: center;
  padding: 14px 16px;
  font-family: "Raleway", sans-serif;
  float: left;
  margin-top: 10px;
}

a:link {
    text-decoration: none;
	color: DeepSkyBlue;
}

a:visited {
    text-decoration: none;
	color: DeepSkyBlue;
}

a:hover {
    text-decoration: underline;
    color: DeepSkyBlue;
    text-decoration-style: dashed;
}

a:active {
    text-decoration: none;
	text-decoration-line: overline underline;
	color: DeepSkyBlue;
}

/* this is my fancy side nav which is going to be SO DOPE. I want this for tablets only, but because of previously mentioned 
background colour issues I've started playing with it in here. You can see it in the index.HTML file too. I've also ended up putting
the little bit of JS I use for it in there too. I did upload a seperate JS file with it in, but I don't think I linked them properly,
I'd like to learn how for the final site.

The code works for this side bar, which IS AWESOME. The bit that doesn't work, and why it's not currently showing up on the site, 
is that I've added in a "don't show this bit of stuff when the screen is bigger than 768px" to try and make it only work for tablets.
But instead it hides IT ALL NO MATTER THE WIDTH. */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1; /*stack order*/
    top: 0;
    left: 0;
    background-color: SlateGrey;
    overflow-x: hidden;/*overflow on the left and right sides and overflow-y is for the tops and bottoms*/
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: LightSkyBlue;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: RoyalBlue;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}



/* To hide sidenav if bigger than 768px WHY U NO WORK */
@media(min-width: 769px) {
  div.sidenav {
    display: none;
  }
}

/*For mobiles */
@media(max-width: 600px) {
  .grid {
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 20%), 50%;
  }
	
/*depending on the max/min width situation. These guys just decide to replace my normal nav bar. Just because they can. Also, 
the bars have a REALLY ANNOYINGLY LARGE GAP between them and idk why*/
	
.topnav a {
  background-color: gray;
  color: DeepSkyBlue;
  font-family: "Raleway", sans-serif;
  float: none;
  width: 100%;
}
.topnav a:hover {
	background-color: silver;
	font-weight: bold;
	text-decoration: none;
	
	}

.hero {
  grid-row: 5 / span 1;
	 
}
body {
  background-color: olive;
}
	
}	
	

/*For tablets */
@media(max-width: 768px) {
	.grid {
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 20%), 50%;
    grid-row-gap: 20px;
  }
body {
 background-color: tan;
    }
}
